body {
  padding: 0;
  margin: 0 auto;
  font-size: 1.2rem;
  font-family: "Nunito", sans-serif;
  box-sizing: border-box;
}

.container {
  background-image: url(http://uiwebsoft.com/justlog/login-one/images/login-bg2.jpg);
  background-size: cover;
  background-position: center;
  background-position: 0 bottom;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-size: 24px;
}

.info-form {
  display: flex;
  width: 50%;
  height: 50%;
  border: 1px solid white;
  border-radius: 12px;
}

.form-left {
  background-color: #ff574d;
  width: 40%;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;

  display: inline;
  text-align: center;
}

.form-right {
  width: 60%;
  background-color: white;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

h3 {
  display: inline-block;
  color: white;
}

.title-form-left {
  margin-top: 25px;
  height: 80px;
}

.box-JL {
  display: inline-block;
  width: 30px;
  height: 35px;
  border: 2px solid white;
  background-color: white;
  color: #ff574d;
  font-size: 30px;
  font-weight: 700;
  border-radius: 5px;
}

.wrap-text {
  margin-top: 0px;
  font-size: 15px;
  color: white;
  opacity: 0.7;
}

.link-read {
  margin-top: 16px;
  display: inline-block;
  padding: 8px 33px;
  color: #ff574d;
  background: #fff;
  border-radius: 3px;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 24px;
  margin-right: 36px;
}

.social li {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background: #00000012;
  color: #fff;
  border-radius: 3px;
  text-decoration: none;
}

.social li a i {
  font-size: 12px;
}

.color-text {
  color: #ff574d;
}
.title-form-right {
  position: relative;
  text-align: center;
}

.title-form-right h5 {
  color: #272323;
}

.title-form-right::before {
  content: "";
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 1px;
  background: #ff574d;
}

.info-form-right {
  width: 456px;
  height: 110px;
}

.form-text {
  margin-left: 40px;
  height: 36%;
  width: 80%;
  padding-left: 20px;
  margin-top: 16px;
}

.support {
  margin-left: 36px;
  margin-top: 16px;
  width: 390px;
}

.font-me {
  font-size: 16px;
}

.font-password {
  font-size: 16px;
  text-decoration: none;
  color: black;
  margin-left: 133px;
}

.btn {
  margin-left: 40px;
  margin-top: 16px;
  width: 390px;
  height: 50px;
  background-color: #ff574d;
  border: white;
  border-radius: 5px;
  font-size: 16px;
  color: white;
  cursor: pointer;
}

.text-final {
  color: #717171;
  font-size: 16px;
  text-align: center;
}

.link-register {
  text-decoration: none;
  color: #717171;
}

.icon-right {
  position: relative;
}

.open__form {
  position: absolute;
  left: 43.7%;
  top: 47%;
  cursor: pointer;
}
.open__form i {
  background-color: #fff;
  border-radius: 50%;
  padding: 8px;
  box-shadow: rgba(97, 97, 101, 0.2) 0px 7px 30px 0px;
  color: red;
}
